packaging_format = 2

id = "zulip"
name = "Zulip"
description.en = "Chat that helps teams stay productive and focused"
description.fr = "Chat qui aide les équipes à rester productives et concentrées"

version = "11.2~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://zulip.com/"
admindoc = "https://zulip.readthedocs.io/"
code = "https://github.com/zulip/zulip"

[integration]
yunohost = ">= 12.0.9.2"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/zulip/zulip/releases/download/11.2/zulip-server-11.2.tar.gz"
        sha256 = "cd60fede60f2c4b7612928383d802af794106a366f4f2e45178cb60ce427855e"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = [
        "libpq5",
        "libpq-dev",
        "postgresql"
    ]

    [resources.database]
    type = "postgresql"
