packaging_format = 2

id = "zulip"
name = "Zulip"
description.en = "Chat that helps teams stay productive and focused"
description.fr = "Chat qui aide les équipes à rester productives et concentrées"

version = "10.3~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://zulip.com/"
admindoc = "https://zulip.readthedocs.io/"
code = "https://github.com/zulip/zulip"

[integration]
yunohost = ">= 12.0.9.2"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"
    help.en = "The selected domain must have its Let's Encrypt certificate generated."
    help.fr = "Le domaine sélectionné doit avoir son certificat Let's Encrypt généré."

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/zulip/zulip/releases/download/10.3/zulip-server-10.3.tar.gz"
        sha256 = "71e8239a92f42587aa7e2b4b1092e0b9359c74edc17df8a2de00b6b43482560c"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = [
        "libpq5",
        "libpq-dev",
        "postgresql"
    ]

    [resources.database]
    type = "postgresql"
